@keyframes arrow50 {
  from{
    background-position-x: 0px;
  }
  to{
    background-position-x: -11500px;
  }
}


@keyframes noise {
  0%{
    transform: translate(0,0);
  }
  10%{
    transform: translate(-5%, -5%);
  }
  20%{
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

@keyframes background-animation {
  from{
    background-position: 0px;
  }
  to{
    background-position: 18500px;
  }
}

@keyframes name-animation {
  $x: 0px; $y: 0px;

    @for $i from 0 through 89{
      #{$i + 1%} {

      background-position: $x $y;
        $x: $x - 500px;
        @if $x < -14500px {
          $x: 0px;
          $y: $y - 350px;
        }
    }
    }
  100%{
    background-position: -14500px -700px;
  }

  }
@keyframes photo-animation {
  $x: -1px;

  @for $i from 0 through 36{
    #{$i + 1%} {

      background-position-x: $x;
      $x: $x - 487px;
    }
  }
  100%{
    background-position-x: -17533px;
  }
}

@keyframes left-swipe-animation {
  from{margin-left: -200%}
  to{margin-left: 0}
}

@keyframes line-wipe-down {
  from{height: 0; border: 0px solid #FFFFFF}
  to{height: 450px; border: 1px solid #FFFFFF}

}

@keyframes background-line-wipe-left {
  $x: 0px;

  @for $i from 0 through 5{
    #{$i + 1%} {

      background-position-x: $x;
      $x: $x - 500px;
    }
  }
  100%{
    background-position-x: -2500px;
  }
}

@keyframes right-swipe-animation {
  from{margin-right: -200%}
  to{margin-right: 0}
}
@keyframes up-swipe-animation {
  from{margin-top: -50%}
  to{margin-top: 0}

}
@keyframes right-swipe-animation-absolute {
  from{right: 400px}
  to{right: 797px}
}

@keyframes line-wipe-down-image {
  from{height: 0; border: 0px solid #FFFFFF}
  to{height: 900px;border: 1px solid #FFFFFF}

}

@keyframes scroll-down {
  0%,10%,20%,30%{
    margin-top: 0px;
  }
  5%,15%,25%{
    margin-top: 25px;
  }
}