@keyframes arrow50 {
  from{
    background-position-x: 0px;
  }
  to{
    background-position-x: -11500px;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes noise {
  0%{
    transform: translate(0,0);
  }
  10%{
    transform: translate(-5%, -5%);
  }
  20%{
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

@keyframes background-animation {
  from{
    background-position: 0px;
  }
  to{
    background-position: 18500px;
  }
}

@keyframes name-animation {
  $x: 0px; $y: 0px;

    @for $i from 0 through 89{
      #{$i + 1%} {

      background-position: $x $y;
        $x: $x - 500px;
        @if $x < -14500px {
          $x: 0px;
          $y: $y - 350px;
        }
    }
    }
  100%{
    background-position: -14500px -700px;
  }

  }
@keyframes photo-animation {
  $x: -1px;

  @for $i from 0 through 36{
    #{$i + 1%} {

      background-position-x: $x;
      $x: $x - 487px;
    }
  }
  100%{
    background-position-x: -17533px;
  }
}

@keyframes left-swipe-animation {
  from{margin-left: -200%}
  to{margin-left: 0}
}

@keyframes line-wipe-down {
  from{height: 0; border: 0px solid #FFFFFF}
  to{height: 450px; border: 1px solid #FFFFFF}

}

@keyframes background-line-wipe-left {
  $x: 0px;

  @for $i from 0 through 5{
    #{$i + 1%} {

      background-position-x: $x;
      $x: $x - 500px;
    }
  }
  100%{
    background-position-x: -2500px;
  }
}

@keyframes right-swipe-animation {
  from{margin-right: -200%}
  to{margin-right: 0}
}
@keyframes up-swipe-animation {
  from{margin-top: -50%}
  to{margin-top: 0}

}
@keyframes right-swipe-animation-absolute {
  from{right: 400px}
  to{right: 797px}
}

@keyframes line-wipe-down-image {
  from{height: 0; border: 0px solid #FFFFFF}
  to{height: 900px;border: 1px solid #FFFFFF}

}

@keyframes scroll-down {
  0%,10%,20%,30%{
    margin-top: 0px;
  }
  5%,15%,25%{
    margin-top: 25px;
  }
}

@keyframes sixnine-animation {
  from{background-position-x: 0px}
  to{background-position-x: -7000px}

}

@keyframes arrow61-animation {
  from{background-position-x: 0px}
  to{background-position-x: -3500px}
}

@keyframes about-animation {
  from{background-position-x: 0px}
  to{background-position-x: -10000px}
}

@keyframes about-text-animation {
  from{width: 0px}
  to{width: 285px}
}

@keyframes about-subtext-animation {
  from{height: 0px}
  to{height: 65px}
}

@keyframes about-thirdtext-animation {
  from{height: 0px}
  to{height: 450px}
}
@keyframes about-thirdline-animation {
  from{height: 0px; opacity: 0}
  to{height: 419px; opacity: 1}
}
@keyframes about-thirdborder-animation {
  from{margin-left: -65px}
  to{margin-left: 0}
}

@keyframes about-h2 {
  from{height: 0}
  to{height: 40px}
}

@keyframes sculpter {
  from{filter: brightness(0.1); opacity: 0}
  to{filter: brightness(1);opacity: 1}
}

@keyframes hoverWorks {
  from{transform:rotateY(-30deg) rotateX(50deg) rotateZ(0deg)}
  to{transform:rotateY(-30deg) rotateX(50deg) rotateZ(360deg)}
}

@keyframes works-text-animation {
  from{width: 0px}
  to{width: 300px}
}

@keyframes works-brush {
  from{background-position-x: 0}
  to{background-position-x: -7000px}

}
@keyframes works-arrow {
  from{background-position-x: 0}
  to{background-position-x: -7500px}

}
@keyframes works-image {
  from{height: 0}
  to{height: 18vh}
}

@keyframes align-rigth {
  from{margin-left: -40%; opacity: 0}
  to{margin-left: 3vw; opacity: 1}
}
@keyframes align-left {
  from{margin-right: -40%; opacity: 0}
  to{margin-right: 3vw; opacity: 1}
}
@keyframes sculpter-works {
  from{filter: brightness(0.1); opacity: 0}
  to{filter: brightness(0.5);opacity: 1}
}