@font-face {
  font-family: WILDWORLD;
  src: url("../Assets/fonts/WILDWORLD-FONT.woff2") format("woff2"),
  url("../Assets/fonts/WILDWORLD-FONT.woff") format("woff");
}
@font-face {
  font-family: Projekt Blackbird;
  src: url("../Assets/fonts/projekt_blackbird_v2-webfont.woff2") format("woff2"),
  url("../Assets/fonts/projekt_blackbird_v2-webfont.woff") format("woff");
}
@font-face {
  font-family: Nafta;
  src: url("../Assets/fonts/NaftaLight-Regular.woff2") format("woff2"),
  url("../Assets/fonts/NaftaLight-Regular.woff") format("woff");
}


$green: #70FF00;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');



.Loader{
  position: absolute;
  display: flex;
  top:0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: clip;
  background-color: black;
  z-index: 10;
  animation: scalingTransitionLoader 1s linear 7s forwards;
  animation-timing-function: cubic-bezier(.08,1.02,.23,.97);
  &-Circle{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    filter: drop-shadow(0px 0px 7px black) drop-shadow(0px 0px 7px black);
    animation: rotationCirle 30s linear infinite, scalingTransition 4s ease-in-out 5s forwards;
  }

  &-Char{

    color: $green;
    font-weight: 900;
    font-family: Nafta;
    position: absolute;
    transform-origin: 0 100px;

  }
}

@keyframes rotationCirle {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }

}
@keyframes scalingTransition {
  0%{
  scale: 1;

}
  100%{
    scale: 450;

  }
}
@keyframes scalingTransitionLoader {
  0%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}